<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% block cowlby_duo_security_content %}
            {% endblock cowlby_duo_security_content %}

            {% block cowlby_duo_security_javascripts %}
                <script src="//code.jquery.com/jquery.min.js"></script>
                <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
            {% endblock cowlby_duo_security_javascripts %}
        </div>
    </body>
</html>
